<div class="chat-item">
    <div class="chat-item__ava"></div>
    <div class="chat-item__content">
        <p class="chat-item__name">{{label}}</p>
        <p class="chat-item__text">Какой-то текст...</p>
    </div>
    <div class="chat-item__info">
        <div class="chat-item__time">10:49</div>
        <div class="chat-item__unread-messages">2</div>
    </div>
</div>
