.error-page-message {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error-page-message__error-number {
    font-family: 'Pacifico', cursive;
    margin-bottom: 20px;
    color: var(--text-color);
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
}

.error-page-message__message {
    font-family: 'Pacifico', cursive;
    margin-bottom: 70px;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
}