<div class="error-page-message">
    <div class="error-page-message__error-number">
        {{errorNumber}}
    </div>
    <div class="error-page-message__message">
        {{message}}
    </div>
    {{> Button label="Назад к чатам" type="link" page="list" }}
</div>