@import 'normalize.css';
@import 'fonts.css';
@import '/src/pages/auth/auth.css';
@import '/src/pages/list/list.css';
@import '/src/pages/profile/profile.css';
@import '/src/pages/links/links.css';
@import '/src/components/auth-reg-form/auth-reg-form.css';
@import '/src/components/button/button.css';
@import '/src/components/input/input.css';
@import '/src/components/auth-reg-form/auth-reg-form.css';
@import '/src/components/panel/panel.css';
@import '/src/components/chat-item/chat-item.css';
@import '/src/components/chat/chat.css';
@import '/src/components/chat-header/chat-header.css';
@import '/src/components/message/message.css';
@import '/src/components/chat-footer/chat-footer.css';
@import '/src/components/back-panel/back-panel.css';
@import '/src/components/profile-container/profile-container.css';
@import '/src/components/profile-input/profile-input.css';
@import '/src/components/error-page-message/error-page-message.css';

body {
  margin: 0;
}

:root {
  --main-color: #3369f3;
  --second-color: #e4edfd;
  --error-color: #ff2f2f;
  --text-color: #3c3c3c;
  --text-secondary-color: #999;
}
