@import url('normalize.css');
@import url('fonts.css');
@import url('/src/pages/auth/auth.css');
@import url('/src/pages/list/list.css');
@import url('/src/pages/profile/profile.css');
@import url('/src/pages/links/links.css');
@import url('/src/components/auth-reg-form/auth-reg-form.css');
@import url('/src/components/button/button.css');
@import url('/src/components/input/input.css');
@import url('/src/components/panel/panel.css');
@import url('/src/components/chat-item/chat-item.css');
@import url('/src/components/chat/chat.css');
@import url('/src/components/chat-header/chat-header.css');
@import url('/src/components/message/message.css');
@import url('/src/components/chat-footer/chat-footer.css');
@import url('/src/components/back-panel/back-panel.css');
@import url('/src/components/profile-container/profile-container.css');
@import url('/src/components/profile-input/profile-input.css');
@import url('/src/components/error-page-message/error-page-message.css');

body {
  margin: 0;
}

:root {
  --main-color: #3369f3;
  --second-color: var(--bg-accent-light);
  --error-color: #ff2f2f;
  --text-color: #3c3c3c;
  --text-secondary-color: #999;
  --bg-secondary: #eaeaea;
  --bg-lighter: #efefef;
  --bg-accent-light: #E4EDFD;
}
