.chat {
    display: flex;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: scroll;
    max-height: 100vh;
}

.chat__no-selected {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: var(--text-secondary-color);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; 
}

.chat__content {
    width: 100%;
    position: relative;
    padding: 54px 0;
    display: flex;
    flex-direction: column;
}

.chat-messages {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 14px;
    flex-direction: column;
    padding: 0 20px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.chat-messages__date {
    font-family: 'Roboto', sans-serif;
    padding: 30px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: var(--text-secondary-color);
    margin: 0;
}
.chat-messages__item {
    max-width: 402px;
    width: fit-content;
    padding: 12px 12px 24px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.chat-messages__incoming {
    background: #F8F8F8;
}

.chat-messages__outgoing {
    background: #E4EDFD;
    align-self: end;
    min-width: 45px;
}

.chat-messages__text {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    margin: 0;
    white-space: pre-line;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    width: fit-content;
}

.chat-messages__incoming-time {
    font-family: 'Roboto', sans-serif;
    color: var(--text-secondary-color);
    font-size: 9px;
    font-weight: 400;
    line-height: 9px;
    position: absolute;
    bottom: 11px;
    right: 11px;
}

.chat-messages__incoming_img {
    max-width: 316px;
    padding: 0;
    border: 1px solid #EAEAEA;
}

.chat-messages__incoming-time_dark {
    border-radius: 30px;
    background: rgba(82, 82, 82, 0.50);
    color: #fff;
    padding: 4px 8px;
}

.chat-messages__incoming-time_blue {
    color: #3369F3;
}

.chat-messages__incoming-image {
    max-width: 100%;
}

.chat-messages__check-marks {
    position: absolute;
    bottom: 12px;
    right: 37px;
}

