<div class="profile">
    {{> BackPanel}}
    {{#> ProfileContainer }} 
        <div class="full-width">
            {{> ProfileInput label="Старый пароль" name="oldPassword"  value="asddf" type="password" }}
            {{> ProfileInput label="Новый пароль" name="newPassword"  value="asddf" type="password" }}
            {{> ProfileInput label="Повторите новый пароль" name="newPasswordRepeat"  value="asddf" type="password" error="Пароли на совпадают"}}
        </div>
        <div class="full-width">
            {{> Button label="Сохранить" type="primary" }}
        </div>

        {{/ProfileContainer}}
</div>