.profile {
    display: flex;
}

.full-width {
    width: 100%;
}
.line {
    width: 100%;
    border-bottom: 1px solid #EAEAEA;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.line_border_false {
    border-bottom: none;
}
