<div class="profile">
    {{> BackPanel}}
    {{#> ProfileContainer }} 
        <div class="full-width">
            {{> ProfileInput label="Почта" name="email"  value="test@test.ru" type="email" disabled="disabled"}}
            {{> ProfileInput label="Логин" name="login"  value="ivanivanov" type="text" disabled="disabled"}}
            {{> ProfileInput label="Имя" name="first_name"  value="Иван" type="text" disabled="disabled"}}
            {{> ProfileInput label="Фамилия" name="second_name"  value="Иванов" type="text" disabled="disabled"}}
            {{> ProfileInput label="Имя в чате" name="display_name"  value="Иван" type="text" disabled="disabled"}}
            {{> ProfileInput label="Телефон" name="phone"  value="+79099673030" type="tel" disabled="disabled"}}
        </div>
        <div class="full-width">
            <div class="line">
                {{> Button label="Изменить данные" type="link" page="profile-edit" }}
            </div>
            <div class="line">
                {{> Button label="Изменить пароль" type="link" page="password-edit" }}
            </div>
            <div class="line line_border_false">
                {{> Button label="Выйти" type="redLink" page="auth" }}  
            </div>
        </div>

        {{/ProfileContainer}}
</div>