.profile-container {
    padding-top: 60px;
    width: 510px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px
}

.profile-container__ava {
    min-width: 130px;
    width: 130px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: #EFEFEF;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.profile-container__cursor-pointered {
    opacity: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 14px;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.8);
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.profile-container__ava:hover .profile-container__cursor-pointered {
    opacity: 1;
}

.profile-container__name {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
}