.links {
    width: 500px;
    margin: 100px auto;
    text-align: left;
}

.links__title {
    font-family: Roboto, sans-serif;
}

.links__list {
    list-style: none;
    padding-left: 0;
}

.links__li {
    margin-bottom: 10px;
}
