<div class="links">
    <h2 class="links__title">Список сверстанных страниц:</h2>
    <p>
        {{> Button label="Страница авторизации:" type="link" page="auth" }}
    </p>
    <p>
     {{> Button label="Страница регистрации:" type="link" page="registration" }}
    </p>
    </p>
    <p> 
     {{> Button label="Список чатов/чат:" type="link" page="list" }}
    </p>
    <p> 
     {{> Button label="Страница профайла:" type="link" page="profile" }}
    </p>
    <p> 
     {{> Button label="Страница редактировани профайла:" type="link" page="profile-edit" }}
    </p>
    <p> 
     {{> Button label="Страница изменения пароля:" type="link" page="password-edit" }}
    </p>
    <p> 
     {{> Button label="Страницы с ошибками: 404" type="link" page="404" }}
    </p>
    <p> 
     {{> Button label="Страницы с ошибками: 500" type="link" page="500" }}
    </p>
</div>